@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <a  class="inicio"><span>Pañalera<span>Valentino</span></span><i class="mdi mdi-layers"></i></a>
    </div>
<img src="https://recetasparamibebe.com/wp-content/uploads/2018/01/avatar.png" height="70%" width="50%" alt="Bebe.png" 

<div class="row">
    <div class="col-md-4">
        <h2>El cuidado y formación de tu bebe es toda una aventura</h2>
        <p>
            Dejanos poner a tu alcanace, los mejores productos para facilitar este viaje.
        </p>
    </div>
   
</div>