
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<div>

    <form>

        <div class="form-group">
            <label for="id"> IdTipoCliente: </label>
            <label for="id" name="IdTipoCliente">@Model.IdTipoCliente </label>
            <input type="hidden" name="IdTipoCliente" value="@Model.IdTipoCliente" />
        </div>

        <div class="form-group">

            <label for="Descripcion"> Descripcion: </label>
            <label for="Descripcion" name="Descripcion">@Model.Descripcion </label>
            <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
        </div>

     



    </form>

</div>



