
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>

<div>

    <form action="/TipoEmpleado/Modificar" method="post">

        <div class="form-group">
            <label for="id"> IdTipoEmpleado: </label>
            <label for="id" name="IdTipoEmpleado">@Model.IdTipoEmpleado </label>
            <input type="hidden" name="IdTipoEmpleado" value="@Model.IdTipoEmpleado" />
        </div>

        <div class="form-group">
            <label for="Descripcion"> Descripcion: </label>
            <input type="text" class="form-control" name="Descripcion" id="Descripcion" value="@Model.Descripcion" />
        </div>


        <div class="form-group">
            <p> <button class="btn btn-primary btn-lg" type="submit" role="button"> Guardar</button></p>
            <br />
            <a class="btn btn-primary btn-lg" href="/TipoEmpleado/Index" role="button">Cancelar</a>
        </div>

    </form>

</div>